/* Web responsiveness needs to be considered 
Will work on this outside of my C projects and school work */

/* effects for my footer buttons */

/* @media only screen and (max-width: 1000px) {
  h1 {
    font-size: 70px;
  }

  .btn {
    font-size: 
  }

  .typewrite {
    font-size: ;
  }

  .coffee {
    font-size: ;
  }
} */

/* @media only screen and (max-width: 800px) {
  h1 {
    font-size: 100px;
  }

  .btn {
    font-size: 18px;
  }

  .typewrite {
    font-size: 38px;
  }

  .coffee {
    font-size: 25px;
  }
} */

/* @media only screen and (max-width: 568px) {
  h1 {
    font-size: 2000px;
  }

  .btn {
    font-size: 
  }

  .typewrite {
    font-size: ;
  }

  .coffee {
    font-size: ;
  }
} */

/* @media only screen and (max-width: 320px) {
h1 {
    font-size: 48px;
  }
  
  .btn {
    font-size: 
  }

  .typewrite {
    font-size: ;
  }

  .coffee {
    font-size: ;
  }
} */


